<!-- The Modal -->
<div id="myModal" class="modal">
  <div class="modal-content">
    <div class="modal-body">
      <div class="formContainer">
        <span class="close">&times;</span>
        <h1 style="font-weight: bold;">Are you sure you want to clear the canvas?</h1>
        <p>Your form will be deleted and unrecoverable. If you would like to continue building, click cancel. To confirm clearing the canvas, click confirm.</p>
        <button id="confirmClear" class="button confirmclose">Confirm</button> <button class="button cancelclose">Cancel</button>
      </div>
    </div>
  </div>
</div>