{% block title %}Resources{% endblock %}
{% block pageID %}{% endblock %}
{% extends "base.njk" %}
{% block main %}

<div class="main-container">
  <aside>this will be the left nav</aside>
  <main>this is the main body</main>
</div>

{% endblock %}