{% block title %}Resources{% endblock %}
{% block pageID %}stylesheet{% endblock %}
{% extends "base.njk" %}
{% block main %}

<div class="main-container">
  <aside>this will be the left nav</aside>
  <main>
    <section id="typography">
      <h5>Style</h5>
      <h2>Typography</h2>
      <table>
        <tbody>
          <tr>
            <td>Header H1</td>
            <td><h1>Title/Header 1</h1></td>
          </tr>
          <tr>
            <td>Header H2</td>
            <td><h2>Header 2</h2></td>
          </tr>
          <tr>
            <td>Header H3</td>
            <td><h3>Header 3</h3></td>
          </tr>
          <tr>
            <td>Header H4</td>
            <td><h4>Header 4</h4></td>
          </tr>
          <tr>
            <td>Header H5</td>
            <td><h5>Eyebrow</h5></td>
          </tr>
          <tr>
            <td>Paragraph</td>
            <td><p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam aut laudantium vitae amet nihil adipisci dolorem iste! Odit quae rem possimus recusandae provident, minus, tenetur perspiciatis, dolores nam culpa hic.</p>
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam aut laudantium vitae amet nihil adipisci dolorem iste! Odit quae rem possimus recusandae provident, minus, tenetur perspiciatis, dolores nam culpa hic. <a href="http://" tabindex="0">Figma Design Link</a></p></td>
          </tr>
        </tbody>
      </table>
    </section>

    <section id="buttons">
      <h5>Components</h5>
      <h2>Buttons</h2>
      <table>
        <tr class="nested-row">
          <td>
            <table>
              <tr>
                <th>&nbsp;</th>
                <th>Solid</th>
                <th>Ghost</th>
                <th>Text</th>
              </tr>
              <tr>
                <td>Default</td>
                <td>
                  <div>
                    {% include "sections/partials/button.njk" %}
                  </div>
                </td>
                <td>
                  <div>
                    {% set class = 'ghost' %}
                    {% include "sections/partials/button.njk" %}
                  </div>
                </td>
                <td>
                  <div>
                    {% set class = 'text' %}
                    {% include "sections/partials/button.njk" %}
                  </div>
                </td>
              </tr>
              <tr>
                <td>Loading</td>
                <td>
                  <div>
                    {% set class = 'loading' %}
                    {% include "sections/partials/button.njk" %}
                  </div>
                </td>
                <td>
                  <div>
                    {% set class = 'ghost loading' %}
                    {% include "sections/partials/button.njk" %}
                  </div>
                </td>
                <td>
                  <div>
                    {% set class = 'text loading' %}
                    {% include "sections/partials/button.njk" %}
                  </div>
                </td>
              </tr>
              <tr>
                <td>Disabled</td>
                <td>
                  <div>
                    {% set class = 'disabled' %}
                    {% set href = 'https://www.whereoware.com/' %}
                    {% include "sections/partials/button.njk" %}
                  </div>
                </td>
                <td>
                  <div>
                    {% set class = 'ghost disabled' %}
                    {% set href = 'https://www.whereoware.com/' %}
                    {% include "sections/partials/button.njk" %}
                  </div>
                </td>
                <td>
                  <div>
                    {% set class = 'text disabled' %}
                    {% set href = 'https://www.whereoware.com/' %}
                    {% include "sections/partials/button.njk" %}
                  </div>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </section>
  </main>
</div>

{% endblock %}