body {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  color: #092f4e;
  text-align: center;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 14px;
  color: $gray;
  margin-top: 5px;
}

h3 {
  font-size: 40px;
  color: $navy;
}

input, select, textarea {
  font-family: $primary-font;
  font-weight: 300;
}